#canvas {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  width: 100%;
  max-width: 300px;
}

.part {
  box-sizing: border-box;
  border: 1px solid #fff;
}
.t {
  background: #f441d6;
}

.i {
  background: #42e2f4;
}

.j {
  background: #f4be41;
}

.l {
  background: #67fc6c;
}

.o {
  background: #b03df7;
}

.s {
  background: #1a49f2;
}

.z {
  background: #f14819;
}

.border {
  border: 1px solid;
}
