html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #414141;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  /*border: 1px dashed red;*/
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.controls {
  /*border: 1px dashed purple;*/
  width: 80px;
}

.btn {
  border: 5px solid #6b7353;
  width: 50px;
  height: 50px;
  background-color: #c4cfa1;
  margin-bottom: 10px;
}

.btn svg {
  fill: #414141;
}
.btn--play {
  background-image: url('../icons/play.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.btn--pause {
  background-image: url('../icons/pause.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  box-sizing: content-box;
  background-color: #c4cfa1;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  width: 100%;
  max-width: 300px;
  border: 5px solid #6b7353;
}

.box {
  box-sizing: border-box;
  border: 5px solid #6b7353;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  background-color: #c4cfa1;
  color: #414141;
  margin-bottom: 10px;
}

.box__name {
  font-size: 28px;
  display: block;
  text-align: right;
}

.box__count {
  font-size: 32px;
  display: block;
  text-align: right;
  margin-top: 20px;
}

.part {
  box-sizing: border-box;
  border: 1px solid #6b7353;
}

.t {
  background: #f441d6;
}

.i {
  background: #42e2f4;
}

.j {
  background: #f4be41;
}

.l {
  background: #67fc6c;
}

.o {
  background: #b03df7;
}

.s {
  background: #1a49f2;
}

.z {
  background: #f14819;
}
